<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NIC_EndPoint">
                    <security mode="TransportWithMessageCredential"/>
                </binding>
                <binding name="BasicHttpBinding_INotificationService">
                    <security mode="TransportWithMessageCredential"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://Localhost:6561/mockNIC_EndPoint" binding="basicHttpBinding" bindingConfiguration="NIC_EndPoint" contract="ExReferenceNICRunAway.INICService" name="NIC_EndPoint"/>
            <endpoint address="http://localhost:6562/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="ExReferenceSMSService.INotificationService" name="BasicHttpBinding_INotificationService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
