<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="NICServiceUserName" value="Mol"/>
    <add key="NICServicePassword" value="Xyz7890"/>
  </appSettings>
  
  <connectionStrings>
    <add name="MOLEFEntities" connectionString="Data Source=192.168.209.54;Initial Catalog=MOL_Generation_phaseI_FLP;User Id=moldbuser;Password=moldbuser;Connect Timeout=2000;MultipleActiveResultSets=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
  
    <bindings>
      <basicHttpBinding>
        <binding name="NIC_EndPoint">
          <security mode="None" />
        </binding>
        <binding name="NoteNIC_EndPoint">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_INotificationService">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://Localhost:6561/mockNIC_EndPoint" binding="basicHttpBinding"
        bindingConfiguration="NIC_EndPoint" contract="ExReferenceNICRunAway.INICService"
        name="NIC_EndPoint" />
      <endpoint address="https://biztalk-srv1.mol-pdom.gov:420/EstablishmentNoteService.svc"
        behaviorConfiguration="NICHttpBehavior" binding="basicHttpBinding"
        bindingConfiguration="NoteNIC_EndPoint" contract="Mol.Integration.ServiceWrapper.NoteService.NoteServiceReference.IEstablishmentNoteService"
        name="NoteNIC_EndPoint" />
      <endpoint address="https://localhost:6562/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_INotificationService"
        contract="ExReferenceSMSService.INotificationService" name="BasicHttpBinding_INotificationService" />
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="userNameClientCredentials"
             type="Mol.Integration.Services.Lib.Binding.UserNameClientCredentialsElement, Mol.Integration.Services.Lib" />
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="NICHttpBehavior">
          <userNameClientCredentials userName="MOL" password="Xyz7890">
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </userNameClientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    </system.serviceModel>
    
</configuration>