<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogToConsole="false">
  <targets async="true">
    <target name="CSVFileLogging" xsi:type="File"
             fileName="${basedir}/${shortdate}.csv"
                maxArchiveFiles="40" archiveAboveSize="10240" archiveEvery="Day">
      <layout xsi:type="CSVLayout">
        <column name="Time" layout="${longdate}" />
        <column name="Level" layout="${level}"/>
        <column name="Call Site" layout="${callsite}"/>
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="CSVFileLogging" />
  </rules>
</nlog>